<template>
    <div class="max-w-5xl px-2 sm:px-4 lg:px-6 mx-auto"><slot /></div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/runtime-core';

export default defineComponent({ name: 'Container' });
</script>
