<template>
    <div class="w-full h-screen bg-gray-100 grid place-items-center md:p-8">
        <Container
            class="w-full bg-white min-h-full rounded shadow grid gap-y-4 place-items-center"
        >
            <h1 class="text-3xl font-extrabold text-center p-2 sm:p-4">
                Your IP Address is
                <mark class="bg-blue-400 text-white rounded px-2">{{ ip?.value?.ip }}</mark>
            </h1>
            <div class="sm:flex sm:flex-col">
                <p>Extended Content</p>
                <div class="prose prose-sm md:prose">
                    <pre id="code" class="w-full grid place-items-start">
                    <code>{{JSON.stringify(ip.value,null,2)}}</code>
                </pre>
                </div>
            </div>
            <p style="max-inline-size: 45ch">
                This is meant for personal use ONLY. <br />
                Use at your own risk.<br />If You are uncomfortable with disabling AdBlock. Use this
                =>
                <a
                    class="hover:text-pink-700 font-bold text-indigo-700 transition-all duration-200"
                    href="https://ipapi.co/json"
                    ><code>https://ipapi.co/json</code></a
                >
            </p>
        </Container>
    </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue';
import Container from './components/Container.vue';

interface IPType {
    value: { ip: string };
}

const ip = reactive<IPType>({ value: { ip: '' } });

const getIp = async () => {
    try {
        const response = await fetch('https://ipapi.co/json', {
            method: 'GET',
        });

        const jsonData = await response.json();
        console.log(jsonData);
        window.clientInformation;
        delete jsonData?.languages;
        delete jsonData?.continent_code;
        delete jsonData?.country_area;
        ip.value = { ...jsonData };
    } catch (err) {
        console.log(err.message);
        if (err.message === 'Failed to fetch') {
            alert("It's temporary, working on a fix. You need to disable AdBlock for now.");
        }
    }
};

export default defineComponent({
    name: 'App',
    data() {
        return { ip };
    },
    mounted: () => {
        getIp();
    },
    components: {
        Container,
    },
});
</script>
